<h2>Users</h2>
<button [disabled]= "!enableAdd" class="btn btn-block mb-3">Add New User</button>
<ul class = "list-unstyled" *ngIf = "loaded && users?.length > 0; else noUsers">
  <li class = "card card-body mb-2" *ngFor = "let user of users" [class.bg-light] = "user.isActive">
    <!-- <div class="row"> -->
        <!-- <div class="col-sm-4"> -->
          <!-- 3 Ways to do property binding -->
            <!-- <img *ngIf = "user.image" class = "img-fluid" [src]="user.image" alt=""> -->
            <!-- <img *ngIf = "user.image" class = "img-fluid" src= "{{user.image}}" alt=""> -->
            <!-- <img *ngIf = "user.image" class = "img-fluid" bind-src="user.image" alt=""> -->
            <!-- <img *ngIf = "user.image" class = "img-fluid" [src]="user.image" alt=""> -->
        <!-- </div> -->
        <!-- <div class="col-sm-8"> -->
            <h3 [ngStyle] = "currentStyles">{{ user.firstName }} {{ user.lastName }}</h3>
            <ul class = "list-group" *ngIf = "showExtended && user.age && user.address">
            <li class = "list-group-item">Age: {{ user.age }}</li>
            <li class = "list-group-item">Address: {{ user.address.street }} {{ user.address.city }}, {{ user.address.state }}</li>
            <!-- <li class="list-group-item">Balance : {{ user.balance | currency }}</li> -->
            <li class="list-group-item">Joined: {{ user.registered | date:"longDate"}}</li>
            <!-- <li class="list-group-item" ngNonBindable> {{ 5 | number:"1.2" }}</li> -->
          </ul>
        <!-- </div> -->
    <!-- </div> -->
  </li>
</ul>

<!-- <ng-template #noUsers><h3>No users found</h3></ng-template> -->
<h3 *ngIf = "users?.length == 0">No users found</h3>
<h3 *ngIf = "!loaded">Loading...</h3>
